  <title>User Home</title>
  <link rel="stylesheet" href="/styles/userHome.css" >


  <div class="navbar">
    <h1>User Management</h1>
    <a href="/user/logout">
      <button class="logout-btn">Logout</button>
    </a>
  </div>

  <div class="hero">
    <div class="welcome-card">
      <h1>Welcome to User Management</h1>
      <p>Manage your profile, update your details, and explore user-specific features here.</p>
    </div>
  </div>


